@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-themes {
  --default-font-family: var(--font-inter);
}
button {
  cursor: pointer !important;
}

button:hover {
  @apply shadow-sm transition-shadow duration-500 outline-2 outline-indigo-800;
}

.log {
  @apply border-2 border-red-300;
}

.spinner {
  width: 16px;
  height: 16px;
  border-style: solid;
  border: 3px solid #fff;
  border-bottom-color: blue;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
